## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Harper,LR,81.64,light rain,4.3750,-7.7169,Screensaver
1,10,Sinnamary,GF,81.12,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
2,15,Axim,GH,83.28,overcast clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
3,19,Oeiras,BR,83.39,scattered clouds,-7.0253,-42.1311,Hotel SESC Oeiras
4,22,Quimper,FR,80.67,clear sky,48.0000,-4.1000,Hôtel Escale Oceania Quimper

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#itinerary_df = vacation_df.set_index('City')
vacation_start = vacation_df.loc[vacation_df['City']=='Robertsport']
vacation_end = vacation_df.loc[vacation_df['City']=='Robertsport']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Monrovia']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Bensonville'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Buchanan']
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
179,493,Robertsport,LR,82.13,overcast clouds,6.7533,-11.3686,Kwepunha Retreat

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.Series([vacation_start['Lat'].values, (vacation_start['Lng'].values)]).astype(float).to_numpy()
end = pd.Series([vacation_end['Lat'].values, (vacation_end['Lng'].values)]).astype(float).to_numpy()
stop1 = pd.Series([vacation_stop1['Lat'].values, (vacation_stop1['Lng'].values)]).astype(float).to_numpy()
stop2 = pd.Series([vacation_stop2['Lat'].values, (vacation_stop2['Lng'].values)]).astype(float).to_numpy()
stop3 = pd.Series([vacation_stop3['Lat'].values, (vacation_stop3['Lng'].values)]).astype(float).to_numpy()
start

array([  6.7533, -11.3686])

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1, stop2, stop3]
fig = gmaps.figure()
figdir = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
fig.add_layer(figdir)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,493,Robertsport,LR,82.13,overcast clouds,6.7533,-11.3686,Kwepunha Retreat
1,493,Robertsport,LR,82.13,overcast clouds,6.7533,-11.3686,Kwepunha Retreat
2,76,Monrovia,LR,76.77,light rain,6.3005,-10.7969,Sunset Inn
3,602,Bensonville,LR,76.55,light rain,6.4461,-10.6125,Moinga
4,689,Buchanan,LR,76.96,light rain,5.8808,-10.0467,Kamaneahn Hotel Inc

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure